@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #efefef;
}

@font-face {
  font-family: "OneShinhan";
  src: url("../fonts/ONESHINHANLIGHT\ 2.ttf");
  color: #f4f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "OneShinhan";
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
